extends ../template/error.jade

block var
	- var level = "warning"

block alert-title
	span.glyphicon.glyphicon-question-sign
block alert-detail
	| Je ne trouve pas...
	br
	br
	.pull-right
		a(href="#",onclick="window.history.back()")
			span.glyphicon.glyphicon-arrow-left(aria-hidden="true")
			|  Retour
	br