doctype
html( lang="fr" )
	head
		block title
			title #{title}
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		link(href="/public/css/vendor/bootstrap.min.css", rel="stylesheet")
		block css
		script(src="/public/js/vendor/jquery.min.js")
		script(src="/public/js/vendor/bootstrap.min.js")
		block script
	body
		block body
