#content {
	margin-top: 80px;
	max-width: 900px;
}

img.brand {
	width: 20px;
	height: 20px;
}

img.user {
	width: 30px;
	height: 30px;
}

h4.user {
	margin: 0;
}

.navbar-nav > li > a {
  line-height: 30px;
}
.navbar-header > a {
  line-height: 30px;
}

.navbar > .container-fluid {
	max-width: 1000px;
}

.media-glyphicon {
	display: relative;
}

.media-glyphicon .glyphicon {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
  color: white;
}

.square {
	position:relative;
	overflow:hidden;
	padding-bottom:100%;
}
.square img{
	position:absolute;
	min-height: 100%;
	min-width: 100%;
	object-fit: cover; /* Do not scale the image */
  	object-position: center; /* Center the image within the element */

}

.img-thumbnail {
	max-height: 200px !important;
	max-width: 200px !important;
}
.img-small {
	max-height: 400px;
}

.news-text {
    white-space: pre;
}

#index-carousel {
	position: absolute;
    height: calc(100% - 51px);
    top: 51px;
    left: 0;
    width: 100%;
}
#index-carousel .carousel-inner, #index-carousel .item{
	height: 100%;
}

.item-img {
	height: 100%;
	width: 100%;
}

.media-item {
	min-height: 200px;
	min-width: 200px;
}