extends ../../template/admin

block script
	script(src="/public/js/admin_news_new.js")

block content
	.form-horizontal
		.form-group
			label.control-label.col-sm-2(for="inputTitle") Titre
			.col-sm-10
				input.form-change.form-control#inputTitle(type="text", placeholder="Le titre de la news") 
		.form-group
			label.control-label.col-sm-2(for="inputText") Texte
			.col-sm-10
				textarea.form-change.form-control#inputText(type="text", placeholder="Un texte optionnel",rows="3")
		.form-group
			label.control-label.col-sm-2(for="inputComment") Commentaires
			.col-sm-10.checkbox
				label
					input.form-change#inputComment(type="checkbox",checked="checked")
					| Autoriser
		.form-group
			label.control-label.col-sm-2
				span.glyphicon.glyphicon-question-sign(aria-hidden="true",data-container="body",data-toggle="popover",data-placement="left",data-content="<b>Fichiers</b><br>Les photos et vidéos sont publiées <i>manuellement</i>.<br><br><b>Dossier</b><br>Les photos et vidéos du dossier choisi sont publiées <i>automatiquement</i>.")
				|  Données
			.col-sm-10.radio
				label
					input.form-change.input-data#inputData(type="radio",name="data",value="files",checked="checked")
					| Fichiers
				label
					input.form-change.input-data#inputData(type="radio",name="data",value="folder")
					| Dossier
	#dataFiles
		.col-sm-10.col-sm-offset-2
			.btn-group(role="group")
				a.btn.btn-default(href="/admin/storage/view",type="button")
					span.glyphicon.glyphicon-hdd(aria-hidden=true)
					|  Stockage
				button.btn.btn-default.dropdown-toggle(href="#",type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
					span.glyphicon.glyphicon-plus-sign(aria-hidden=true)
					|  Ajouter
					span.caret
				ul.dropdown-menu
					li
						a(href="#",data-toggle="modal",data-target="#addImages") 
							span.glyphicon.glyphicon-picture(aria-hidden=true)
							|  Images
					li
						a(href="#",data-toggle="modal",data-target="#addVideos") 
							span.glyphicon.glyphicon-facetime-video(aria-hidden=true)
							|  Vidéos
			
	#dataFolder
		.col-sm-10.col-sm-offset-2 dossier
			a.btn.btn-info(href="/admin/storage/view") Gérer le stockage

